.btn {
    background-color: var(--theme-blue);
    color: white;
    text-decoration: none;
    font-weight: 600;
    width: 8rem;
    height: 2rem;
    padding:0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    transition: 0.4s;
    cursor: pointer;
}
.black-btn{
    background-color: black;
    color: white;
}
.intimate-btn{
    width: 10rem;
}
.btn{
    --c: black;
    border-radius: 0.5em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}
.black-btn{
    --c: var(--theme-blue);
}
.black-btn span{
    background-color: var(--c);
}

.btn span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

.btn:hover {
    color: white;
}

.btn:hover span {
    transform: translateY(0) scale(2);
}

.btn span:nth-child(1) {
    --n: 1;
}

.btn span:nth-child(2) {
    --n: 2;
}

.btn span:nth-child(3) {
    --n: 3;
}

.btn span:nth-child(4) {
    --n: 4;
}
.btn span:nth-child(5) {
    --n: 5;
}

@media(min-width:950px){
    .intimate-btn{
        min-width: fit-content;
    }
}
