.home{
    padding: 0 2rem;
    padding-bottom: 0;
}
@media (min-width:1930px){
    .home{
        padding:0 10rem;
    }
}
@media(max-width:500px){
    .home{
        padding: 0 1rem;
    }
}
@media(max-width:400px){
    .home{
        padding: 0 .8rem;
    }
}