html{
    scroll-behavior: smooth;
}
.home{
    padding: 0 2rem;
    padding-bottom: 0;
}
.loader-div{
    width: 100%;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.loader{
    width: 12rem;
    height: 12rem;
}
@media (min-width:1600px){
    .home{
        padding:0 30rem;
    }
}
@media (min-width:1350px){
    .home{
        padding:0 10rem;
    }
}
@media(max-width:500px){
    .home{
        padding: 0 1rem;
    }
}
@media(max-width:400px){
    .home{
        padding: 0 .8rem;
    }
}