.idcard{
    display: flex;
    justify-content: center;
    width: 19rem;
    padding-left: 1rem;
    padding:2rem;
    background-color: white;
    border-radius: 5px;
    gap: 1rem;
    box-shadow: rgb(243, 240, 255,0.7) 5px 5px 15px 10px !important;
}
.idcard-left{
    width: 20%;
}
.idcard-img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 1px solid black;
}
.idcard-right{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.idcard-right-bottom{
    display: flex;
    gap: 1.4rem;
    justify-content: space-between;

}
.idcard-details{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.idcard-entity{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.idcard-entity h4{
    font-size: 0.8rem;
}
.idcard-entity p{
    font-size: 0.8rem;
}
.idcard-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}
.idcard-icons a{
    color: black;
}
.idcard-social-icon{
    font-size: 1.6rem !important;
}