.contact {
    margin-top: 5rem;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
}
.contact-wrapper {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    border: 6px solid;
    border-radius: 5px;
    border-color: var(--theme-blue);
    gap: 3rem;
    width: 80%;
    align-items: center;
}
.contact-inputs {
    display: flex;
    gap: 3rem;
    width: 100%;
}
.contact-inputs-left {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
}
.contact-inputs-left input,
.contact-inputs-right input {
    display: flex;
    height: 3rem;
    padding: 0 1rem;
    border: none;
    border-radius: 3px;
    background-color: #f7f7f7;
}
.contact-inputs-left input:focus,
.contact-inputs-right input:focus {
    outline: none;
}
.contact-inputs-left input::placeholder,
.contact-inputs-right input::placeholder {
    font-size: 1rem;
}
.contact-inputs-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
}
.contact-inputs-right textarea {
    height: 12rem;
    font-family: "poppins";
    background-color: #f7f7f7;
    border-radius: 3px;
    border: none;
}
.contact-inputs-right textarea::placeholder {
    font-size: 1rem;
    padding: 1rem;
}
.contact-inputs-right textarea:focus {
    outline: none;
}
.contact-send-btn {
    font-size: 1.1rem;
    background-color: var(--theme-blue);
    color: white;
    text-decoration: none;
    font-weight: 600;
    width: 8rem;
    height: 2.5rem;
    padding:0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: none;
    transition: 0.4s;
    cursor: pointer;
}
.contact-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.contact-gmail,
.contact-whatsapp,
.contact-phone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: black;
    width: inherit;
}
.contact-alert-div{
    display: none !important;
    width: 19rem;
    position: relative;
    right: 20rem;
    bottom: 15rem;
}
.contact-alert{
    display: flex;
    width: 20rem;
    align-items: center;
}
.contact-alert-on{
    display: block !important;
}
.contact-success-close-icon{
    padding-left: 1rem;
    cursor:pointer;
}
@media (max-width: 770px) {
    .contact{
        padding:0 2rem;
    }
    .contact-wrapper {
        min-width: 100%;
        padding: 2rem;
    }
    .contact-inputs {
        flex-direction: column;
    }
    .contact-inputs-left,
    .contact-inputs-right {
        width: 100%;
    }
    .contact-gmail,
    .contact-whatsapp,
    .contact-phone {
        font-size: 0.9rem;
    }
}
@media (max-width: 650px) {
    .contact-icons {
        flex-direction: column;
        gap: 1rem;
    }
    .contact .section-header{
        width: 120%;
    }
}
